html,
body {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  height: 100%;
  width: 100%;
}

.top-header {
  width: 100%;
  height: 10%;
  background-color: #d4d4d4;
  margin: 0 0 3% 0;
}

.header1 {
  width: 50%;
  margin: 0 auto 3% auto;
}

/*For Division : having 2 gray box*/
.box-container1 {
  height: 100%;
  margin: 0 0 3% 0;
}

.leftbox {
  background-color: #d4d4d4;
  height: 100%;
  width: 49%;
  float: left;
}

.rightbox {
  float: right;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
  margin: 0 0 2% 0;
}

/*For Second Header*/
.header2 {
  width: 60%;
  margin: 0 auto 3% auto;
}

/*For Grid Box Layout*/
.grid-section {
  height: 100%;
  margin: 0 3% 3% 3%;
}

.gridbox1 {
  background-color: #d4d4d4;
  height: 49%;
  width: 24.25%;
  float: left;
  margin: 0 1% 1% 0;
}

.gridbox4,
.gridbox8 {
  margin: 0 0 1% 0;
}

/* For header 3*/
.header3 {
  width: 80%;
  margin: 0 auto 3% auto;
}

/*For Plan Container*/

.plans {
  background-color: lightgrey;
  width: 100%;
  margin-bottom: 3%;
}
.row {
  width: 90%;
  margin: 0 auto;
}
.planbox {
  background-color: white;
  width: 32%;
  margin: 50px 0;
  display: inline-block;
  margin-right: 13px;
}
.planbox:last-child {
  margin-right: 0px;
}
.plan1 {
  padding: 20px;
  background-color: lightgrey;
  width: 93%;
  margin: 13px;
}
.plan2 {
  padding: 80px;
  background-color: lightgrey;
  width: 93%;
  margin: 13px;
}

/*For Header 4*/
.header4 {
  width: 20%;
  margin: 0 auto 3% auto;
}

/*For Line Container*/
.horizontal-box {
  height: 100%;
  width: 40%;
  margin: 0 auto 5% auto;
}

.horizontalbox1 {
  background-color: #d4d4d4;
  height: 10%;
  margin: 0 0 3% 0;
}

.horizontalbox4 {
  height: 45%;
  margin: 0 0 6% 0;
}

.horizontalbox5,
.horizontalbox6 {
  width: 47%;
  margin: 0 0 0 0;
}

.horizontalbox5 {
  float: left;
}

.horizontalbox6 {
  float: right;
}

/* For footer Container*/
.footer {
  height: 40%;
  background-color: #d4d4d4;
  padding: 2%;
}

.leftfooterbox {
  background-color: #ffffff;
  height: 100%;
  width: 49%;
  float: left;
}

.rightfooterbox {
  float: right;
  margin-left: 0;
}
